.field-a {
    width: 60px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: 1px solid #8f8f7e;
    transition-property: color, border, box-shadow, transform;
    transition-duration: 250ms;
}

.field-a:focus {
    outline: none;
    box-shadow: 0 0 7px #686de080;
    border: 1px solid #686de0;
    transform: scale(1.05);
}

.field-a-complete {
    border: 1px solid #6ab04c;
    color: #6ab04c;
}

.field-a-complete[disabled] {
    background: #6ab04c;
    opacity: 0.5;
    cursor: not-allowed;
}

.home-container {
    box-sizing: border-box;
    margin: 0;
    min-height: calc(100vh - 44px);
    padding: 30px 0;
    overflow: hidden;
    font-family: "Source Sans Pro", sans-serif;
    background: rgb(255, 208, 229);
    background: linear-gradient(180deg, rgba(255, 208, 229, 1) 0%, rgba(255, 232, 242, 1) 36%, rgba(255, 255, 255, 1) 100%);
}