@import "tailwindcss";
#root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.gradient-background {
  background: rgb(255, 208, 229);
  background: linear-gradient(180deg, rgba(255, 208, 229, 1) 0%, rgba(255, 232, 242, 1) 36%, rgba(255, 255, 255, 1) 100%);
}

